<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ user.first_name }} {{ user.last_name }}</title>
	<link rel="stylesheet" href='{% static "css/main.css" %}'>
	<link rel="stylesheet" href='{% static "css/friends.css" %}'>
</head>
<body>
	<div id="upper-div"></div>

	<div class="upper-line">
		<div>
			<h5>{{ user.first_name }}</h5>
			<nav id="navigation">
				<img id="toggleTextarea" class="menu_burger_icon" src="{% static 'images/lines_menu_burger_icon_123889.svg' %}" width="30" height="22" alt="menu bar">
			</nav>
		</div>
	</div>

	<div class="settings-bar">
		<button id="backgroundColorChangeButton" onclick="backgroundColorChange()">Change theme</button>
		<form id="quitButton" method="GET" action="quit/">
			<input type="submit" value="Quit">
		</form>
	</div>

	<aside class="left-list">
		<nav>
			<p class="menu-link"><a href="{% url 'user' user.username %}">Homepage</a></p>
			<p class="menu-link"><a href="{% url 'dialogs' user.username %}">Messenger</a></p>
			<p class="menu-link"><a href="{% url 'friends' user.username %}" style="background-color: rgb(205,205,205);">Friends</a></p>
			<p class="menu-link"><a href="{% url 'news' user.username %}" >News</a></p>
		</nav>
	</aside>

	<div class="main-content">

		<div class="user">
			<h3>Friends</h3>
			<p>{{ user.first_name }} {{ user.last_name }}</p>
			<p>@{{ user.username }}</p>
		</div>

		<div class="find-form">
			<caption>Find people!</caption>
			<form method="POST" action="">
				{% csrf_token %}
				<input id="form" type="text" id="username" name="username" placeholder="Username"><br>
				<input id="form" type="text" id="first_name" name="first_name" placeholder="First name"><br>
				<input id="form" type="text" id="last_name" name="last_name" placeholder="Last name"><br>
				<input id="userButton" type="submit" value="Find">
			</form>
		</div>

		<div class="find-users">
			{% if find_users %}
				{% for u in find_users %}
					<div id="find-card" class="user-card">
						<a class="profile-link" href="{% url 'user' u.username %}">
							<h4>{{ u.first_name }} {{ u.last_name }}</h4>
							<h4 style="color:gray; font-size: 13px">@{{ u.username }}</h4>
						</a>
						<form id="addSubscriptionForm" method="POST" action="add_friend/{{ u.username }}/">
							{% csrf_token %}
							<input id="addButton" class="add_friend" type="submit" value="add">
						</form>
					</div>
				{% endfor %}
			{% endif %}
		</div>

		<div class="friends-section">

			<div id="friends" class="my_friends">
				{% if friends %}
					<h3>Friends: {{ friends.count }}</h3>

					{% for friend in friends %}
						<div class="user-card">
							<a class="profile-link" href="{% url 'user' friend.username %}">
								<h4>{{ friend.first_name }} {{ friend.last_name }}</h4>
								<h4 style="color:gray; font-size: 13px">@{{ friend.username }}</h4>
							</a>

							<form method="POST" action="make_chat/{{ friend.username }}/">
								{% csrf_token %}
								<input class="make_chat" type="submit" value="Chat">
							</form>
						
							<form id="deleteFriendForm" method="POST" action="delete_friend/{{ friend.username }}/">
								{% csrf_token %}
								<input id="delButton" class="delete_friend" type="submit" value="delete">
							</form>
						</div>
					{% endfor %}

				{% else %}
					<h3 style="color:gray;">No friends</h3>
				{% endif %}
			</div>

			<div id="subscriptions" class="my_friends">
				{% if subscriptions %}
					<h3>Subscriptions: {{ subscriptions.count }}</h3>

					{% for friend in subscriptions %}
						<div class="user-card">
							<a class="profile-link" href="{% url 'user' friend.username %}">
								<h4>{{ friend.first_name }} {{ friend.last_name }}</h4>
								<h4 style="color:gray; font-size: 13px">@{{ friend.username }}</h4>
							</a>

							<form id="deleteSubscriptionForm" method="POST" action="delete_friend/{{ friend.username }}/">
								{% csrf_token %}
								<input id="delButton" class="remove_subscribe" type="submit" value="delete">
							</form>
						</div>
					{% endfor %}

				{% else %}
					<h3 style="color:gray;">No subscriptions</h3>
				{% endif %}
			</div>

			<div id="subscribers" class="my_friends">
				{% if subscribers %}
					<h3>Subscribers: {{ subscribers.count }}</h3>

					{% for friend in subscribers %}
						<div class="user-card">
							<a class="profile-link" href="{% url 'user' friend.username %}">
								<h4>{{ friend.first_name }} {{ friend.last_name }}</h4>
								<h4 style="color:gray; font-size: 13px">@{{ friend.username }}</h4>
							</a>

							<form method="POST" action="make_chat/{{ friend.username }}/">
								{% csrf_token %}
								<input class="make_chat" type="submit" value="Chat">
							</form>
								
							<form id="addFriendForm" method="POST" action="add_friend/{{ friend.username }}/" name="{{ friend.username }}">
								{% csrf_token %}
								<input id="addButton" class="add_friend" type="submit" value="add">
							</form>

							<form id="deleteSubscriberForm" method="POST" action="delete_subscriber/{{ friend.username }}/">
								{% csrf_token %}
								<input id="delButton" class="remove_subscribe" type="submit" value="delete">
							</form>
						</div>
					{% endfor %}

				{% else %}
					<h3 style="color:gray;">No subscribers</h3>
				{% endif %}
			</div>
		</div>
	</div>

	<div id="upper-div"></div>
	
	<script src="{% static 'js/main.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	<script src="{% static 'js/friends.js' %}" type="text/javascript" charset="utf-8" async defer></script>

</body>
</html>