<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ user.first_name }} {{ user.last_name }}</title>
	<link rel="stylesheet" href='{% static "css/news.css" %}'>
</head>
<body>
    <div id="upper-div"></div>

	<div class="upper-line">
		<h5>{{ user.first_name }}</h5>
		<nav id="navigation">
			<img id="toggleTextarea" class="menu_burger_icon" src="{% static 'images/lines_menu_burger_icon_123889.svg' %}" width="30" height="22" alt="menu bar">
		</nav>
	</div>

	<div class="settings-bar">
		<button id="backgroundColorChangeButton" onclick="backgroundColorChange()">Change theme</button>
		<form id="quitButton" method="GET" action="quit/">
			<input type="submit" value="Quit">
		</form>
	</div>

	<aside class="left-list">
		<nav>
			<p class="menu-link"><a href="{% url 'user' user.username %}">Homepage</a></p>
			<p class="menu-link"><a href="{% url 'dialogs' user.username %}">Messenger</a></p>
			<p class="menu-link"><a href="{% url 'friends' user.username %}">Friends</a></p>
			<p class="menu-link"><a href="{% url 'news' user.username %}" style="background-color: rgb(205,205,205);">News</a></p>
		</nav>
	</aside>

	<div class="main-content">

		<div class="blog">
			{% if friends_records %}
				{% for record in friends_records %}
					<div class="record">
						<a class="profile-link" href="{% url 'user' record.user_id %}">
							<h3>{{ record.user.first_name }} {{ record.user.last_name }}</h3>
							<h6>@{{ record.user_id }}</h6>
							<h6>{{ record.date_time }} {% if record.is_changed %}&#91;&#10000; Modified&#93;{% endif %}</h6>
						</a>

						{% if record.content|length > 500 %}
							<div class="half-content" id="half-{{record.id}}">
								{{ record.content|truncatechars:500|linebreaks|urlize }}
								<button id="{{record.id}}" href="javascript:void();" class="show-hide-btn">
									read more
								</button>
								<br/>
								<br/>
							</div>
							
							<div class="full-content" id="full-{{record.id}}" style="display: none;">
								{{ record.content|linebreaks|urlize }}
								<button id="{{record.id}}" class="show-hide-btn">
									read less
								</button>
								<br/>
								<br/>
							</div>
						{% else %}
							<div>{{ record.content|linebreaks|urlize }}</div>
						{% endif %}

					</div>
                {% endfor %}
			{% else %}
				<h3>When you have friends, you can see their news!</h3>
			{% endif %}
		</div>
    </div>

    <div id="upper-div"></div>

	<script src="{% static 'js/news.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	{% if settings.low_power_mode %}
		<script src="{% static 'js/youtubeAPI.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	{% endif %}
</body>
</html>