<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ user.first_name }} {{ user.last_name }}</title>
	<script type="text/javascript">
		window.CSRF_TOKEN = "{{ csrf_token }}";
	</script>
	<link rel="stylesheet" href='{% static "css/main.css" %}'>
	<link rel="stylesheet" href='{% static "css/news.css" %}'>
	<link rel="stylesheet" href='{% static "css/theme.css" %}'>

	{{ posts_to_download|json_script:"posts_to_download" }}
	{{ settings.low_power_mode|json_script:"low_power_mode" }}

</head>
<body {% if settings.theme %}class="body-light"{% else %}class="body-dark"{% endif %}>

    <div id="upper-div"></div>

	<div class="upper-line">
		<div>
			<h5>{{ user.first_name }}</h5>
			<nav id="navigation">
				<img id="toggleTextarea" class="menu_burger_icon" src="{% static 'images/lines_menu_burger_icon_123889.svg' %}" width="30" height="22" alt="menu bar">
			</nav>
		</div>
	</div>

	<div class="settings-bar">
		<form id="backgroundColorChangeForm" method="POST" action="background_color_change/">
			<input type="submit" value="Change theme">
		</form>
		<form id="quitButton" method="GET" action="quit/">
			<input type="submit" value="Quit">
		</form>
	</div>

	<aside class="left-list">
		<nav>
			<p class="menu-link"><a href="{% url 'user' user.username %}">Homepage</a></p>
			<p class="menu-link"><a href="{% url 'dialogs' user.username %}">Messenger</a></p>
			<p class="menu-link"><a href="{% url 'friends' user.username %}">Friends</a></p>
			<p class="menu-link"><a href="{% url 'news' user.username %}">News</a></p>
		</nav>
	</aside>

	<div class="main-content">

		<div class="blog"></div>

		<div id="0" class="lazyDiv"></div>

    </div>

    <div id="upper-div"></div>

	{% if settings.low_power_mode %}
		<script src="{% static 'js/youtubeAPI.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	{% endif %}
	<script src="{% static 'js/main.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	<script src="{% static 'js/styles.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	<script src="{% static 'js/news.js' %}" type="text/javascript" charset="utf-8" async defer></script>

</body>
</html>