<!DOCTYPE html>
{% load static %}

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Welcome</title>
	<link rel="stylesheet" href='{% static "css/register.css" %}'>
</head>
<body>
	<p id="hello">Welcome to social_network!</p>

	{% if messages %}
		<div class="messages">
        	<ul>
        		{% for message in messages %}
            		<li>{{ message }}</li>
            	{% endfor %}
    		</ul>
		</div>
	{% endif %}
	
	<div class="register">
		<h3>Registration</h3>
		<form method="POST" action="">
			<table class="form">
				{% csrf_token %}
				{{ registerform }}
			</table>
			<input type="submit" value="Register">
		</form>

		<p><a href="/login">Log in</a></p>

	</div>
</body>
</html>