<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ name }} {{ surname }}</title>
	<link rel="stylesheet" href='{% static "css/user.css" %}'>
	<link rel="stylesheet" href='{% static "css/modal.css" %}'>
</head>
<body>

	<div id="upper-div"></div>
	
	<div class="upper-line">
		<h5>{{ global_name }} {{ global_surname }}</h5>
		<nav id="navigation">
			
			<img class="menu_burger_icon" aria-expanded="false" id="toggleTextarea" src="{% static 'images/lines_menu_burger_icon_123889.svg' %}" width="30" height="22" alt="menu bar">

			<div class="settings-bar" hidden>
       		 	<button id="backgroundColorChangeButton" onclick="backgroundColorChange()">Change theme</button>
       		 	<form id="quitButton" method="GET" action="quit/">
					<input type="submit" value="Quit">
				</form>
				<button class="open_modal">Delete account</button>
    		</div>
    	</nav>
	</div>

	<div id="modal" class="modal bounceIn">
		<img id="close_modal" src="{% static 'images/005close1_99908.svg' %}" alt="cross black circular button">
		<div class="modal_txt">
			<h3>Are you sure?</h3>
			<form id="deleteAccountButton" method="POST" action="delete_account/">
				{% csrf_token %}
				<input class="delete_account" type="submit" value="Delete account">
			</form>
		</div>
	</div>

	<aside class="left-list">
		<nav>
			<p class="menu-link"><a href="/social_network/user/{{ global_nickname }}" style="background-color: rgb(205,205,205);">Homepage</a></p>
			<p class="menu-link"><a href="">Messenger</a></p>
			<p class="menu-link"><a href="/social_network/friends/{{ global_nickname }}">Friends</a></p>
			<p class="menu-link"><a href="/social_network/news/{{ global_nickname }}">News</a></p>
		</nav>
	</aside>

	<div class="main-content">

		<div class="user">
			{% if is_my_page %}
				<h3>Homepage</h3>
			{% endif %}
			<p>{{ name }} {{ surname }}</p>
			<p>@{{ nickname }}</p>
			<p>&#91; friends: {{ friends_count }} &#93;</p>
		</div>

		<div class="blog">
			{% if is_my_page %}
				<form class="add_record" method="POST" action="create_record/">
					{% csrf_token %}
					<textarea name="my_textarea" placeholder="How are you doing?" wrap="soft" rows="6" cols="45" name="text" oninput="this.style.height = (this.scrollHeight - 4) + 'px';"></textarea>
					<input type="submit" name="sms" value="Add record">
				</form>
			{% endif %}
			
			{% if is_my_page or is_my_friend %}
				{% for record in blog %}
					<div class="record">
					
						<h6>Record from the {{ record.date_time }} {% if record.is_changed %}&#91;&#10000; Modified&#93;{% endif %}</h6>
							
						<p>{{ record.content | linebreaks | urlize  }}</p>

						{% if is_my_page %}

							<img class="three_points" id="toggleTextarea" aria-expanded="false" src="{% static 'images/three_points.svg' %}" width="20" height="20" alt="three points">

							<div class="record-bar" hidden>
								<div id="change-record">
									<div>
										<form method="POST" action="change_record/{{ record.id }}/">
											{% csrf_token %}
											<textarea name="my_textarea" wrap="soft" rows="6" cols="45" name="text" oninput="this.style.height = (this.scrollHeight - 4) + 'px';"></textarea>
											<input type="submit" name="sms" value="Edit record">
										</form>
									</div>
								</div>
								<form method="POST" action="delete_record/{{ record.id }}/">
									{% csrf_token %}
									<input class="delete_record" type="submit" value="Delete record">
								</form>
							</div>
						{% endif %}

					</div>
				{% endfor %}
			{% else %}
				<h3>Make friends to see his blog!</h3>
			{% endif %}

		</div>
	</div>

    <div id="upper-div"></div>

	<script src="{% static 'js/user.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	<script src="{% static 'js/modal.js' %}" type="text/javascript" charset="utf-8" async defer></script>

</body>
</html>