<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ user.first_name }} {{ user.last_name }}</title>
	<link rel="stylesheet" href='{% static "css/main.css" %}'>
	<link rel="stylesheet" href='{% static "css/user.css" %}'>
	<link rel="stylesheet" href='{% static "css/modal.css" %}'>
	<link rel="stylesheet" href='{% static "css/theme.css" %}'>
	<script type="text/javascript">
		window.CSRF_TOKEN = "{{ csrf_token }}";
	</script>
	<style>
		{% if not is_my_page %}
			.user {
				border-radius: 15px 15px 15px 15px;
			}
		{% endif %}
	</style>

	{{ is_my_page|json_script:"is_my_page" }}
	{{ posts_to_download|json_script:"posts_to_download" }}
	{{ settings.low_power_mode|json_script:"low_power_mode" }}

</head>
<body {% if settings.theme %}class="body-light"{% else %}class="body-dark"{% endif %}>

	<div id="upper-div"></div>
	
	<div class="upper-line">
		<div>
			<h5>{{ global_user.first_name }}</h5>
			<nav id="navigation">
				<img id="toggleTextarea" class="menu_burger_icon" src="{% static 'images/lines_menu_burger_icon_123889.svg' %}" width="30" height="22" alt="menu bar">
			</nav>
		</div>
	</div>

	<div class="settings-bar">
		<form id="backgroundColorChangeForm" method="POST" action="background_color_change/">
			<input type="submit" value="Change theme">
		</form>

		<button id="1" class="open_modal">Settings</button>

		<form id="quitButton" method="GET" action="quit/">
			<input type="submit" value="Quit">
		</form>

		<button id="2" class="open_modal">Delete account</button>
	</div>

	<div id="modal_1" class="modal bounceIn">
		<img class="close_modal" src="{% static 'images/005close1_99908.svg' %}" alt="cross black circular button">
		<div class="modal_txt">
			<h1>Settings</h1>
			<br/>
			<div>
				<form method="POST" action="update_user_info/">
					<h4>To change personal info</h4>
					{% csrf_token %}
					<label for="fname">First name</label><br>
					<input id="form" type="text" id="fname" name="fname" value="{{ global_user.first_name }}" maxlength="120" required><br>
					<label for="lname">Last name</label><br>
					<input id="form" type="text" id="lname" name="lname" value="{{ global_user.last_name }}" maxlength="120" required><br>
					<label for="email">Email</label><br>
					<input id="form" type="email" id="email" name="email" value="{{ global_user.email }}" maxlength="254"><br>
					<input id="modalButton" type="submit" value="Submit">
					<input type="reset">
				</form>
			</div>
			<div>
				<form method="POST" action="update_user_settings/">
					<h4>User settings</h4>
					{% csrf_token %}
					<input 
						type="checkbox" 
						id="low_power_mode" 
						name="low_power_mode" 
						{% if not settings.low_power_mode %}
							checked
						{% endif %}
					>
					<label for="low_power_mode">Low power mode</label><br><br>
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>

	<div id="modal_2" class="modal bounceIn">
		<img class="close_modal" src="{% static 'images/005close1_99908.svg' %}" alt="cross black circular button">
		<div class="modal_txt">
			<h3>Are you sure?</h3>
			<form method="POST" action="delete_account/">
				{% csrf_token %}
				<input id="delete_account" class="delButton" type="submit" value="Delete account">
			</form>
		</div>
	</div>

	<aside class="left-list">
		<nav>
			<p class="menu-link"><a href="{% url 'user' global_user.username %}">Homepage</a></p>
			<p class="menu-link"><a href="{% url 'dialogs' global_user.username %}">Messenger</a></p>
			<p class="menu-link"><a href="{% url 'friends' global_user.username %}">Friends</a></p>
			<p class="menu-link"><a href="{% url 'news' global_user.username %}">News</a></p>
		</nav>
	</aside>

	<div class="main-content">

		<div class="user">
			{% if is_my_page %}
				<h3>Homepage</h3>
			{% endif %}
			<p>{{ user.first_name }} {{ user.last_name }}</p>
			<p>@{{ user.username }}</p>
			<p>&#91; friends: {{ friends_count }} &#93;</p>
			{% if not is_my_page %}
				<div class="userButton">
					{% if is_my_friend %}
						<form method="POST" action="make_chat/{{ user.username }}/">
							{% csrf_token %}
							<input id="userButton" class="make_chat" type="submit" value="Chat">
						</form>
						<form method="POST" action="delete_friend/{{ user.username }}/">
							{% csrf_token %}
							<input id="userButton" class="remove_subscribe" type="submit" value="Remove from friends">
						</form>
					{% elif i_am_subscriber %}
						<form method="POST" action="delete_friend/{{ user.username }}/">
							{% csrf_token %}
							<input id="userButton" class="remove_subscribe" type="submit" value="Remove subscription">
						</form>
					{% elif he_is_subscriber %}
						<form method="POST" action="add_friend/{{ user.username }}/">
							{% csrf_token %}
							<input id="userButton" class="add_friend" type="submit" value="Add to friends">
						</form>
						<form method="POST" action="delete_subscriber/{{ user.username }}/">
							{% csrf_token %}
							<input id="userButton" class="remove_subscribe" type="submit" value="Delete his subscription">
						</form>
					{% else %}
						<form method="POST" action="add_friend/{{ user.username }}/">
							{% csrf_token %}
							<input id="userButton" class="add_friend" type="submit" value="Add to friends">
						</form>
					{% endif %}
				</div>
			{% endif %}
		</div>

		{% if is_my_page %}
			<form id="createRecord" class="add_record" method="POST" action="create_record/">
				{% csrf_token %}
				<textarea name="my_textarea" maxlength="5000" placeholder="How are you doing?"></textarea>
				<input id="userButton" type="submit" name="sms" value="Add record">
			</form>
		{% endif %}

		<div class="blog"></div>

		{% if is_my_page or is_my_friend or he_is_subscriber %}
			<div id="0" class="lazyDiv"></div>
		{% else %}
			<h3>Make friends to see his blog!</h3>
		{% endif %}

	</div>

	<div id="upper-div"></div>

	{% if settings.low_power_mode %}
		<script src="{% static 'js/youtubeAPI.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	{% endif %}
	<script src="{% static 'js/user.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	<script src="{% static 'js/styles.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	<script src="{% static 'js/modal.js' %}" type="text/javascript" charset="utf-8" async defer></script>

</body>
</html>