asgiref==3.6.0
async-timeout==4.0.2
channels==4.0.0
channels-redis==4.1.0
Django==4.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hypercorn==0.14.3
hyperframe==6.0.1
msgpack==1.0.5
priority==2.0.0
redis==4.5.4
sqlparse==0.4.4
toml==0.10.2
whitenoise==6.4.0
wsproto==1.2.0
