.chat-block {
    margin-bottom: 30px;
    display: flex;
}
.chat-href {
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 10px 100px;
    text-decoration: none;
    color: black;
}
.chat-href:hover {
    background-color: rgb(218, 213, 213);
}
