input[type="text"], input[type="email"] {
    all: unset;
    border: 1px solid black;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: auto;
    display: inline-block;
    letter-spacing: 1px;
    outline: none;
    padding: 5px;
    width: 250px;
    border-radius: 0.25rem;
}
#form {
    margin-bottom: 10px;
    width: 250px;
}
#userButton {
    font-size: 15px;
}
.user {
    min-width: 560px;
    max-width: 1000px;
    padding: 5px 10px;
    word-wrap: break-word;
    border-radius: 15px 15px 15px 0px;
    font-size: 25px;
}
.form {
    padding: 10px;
}
.find-form {
    display: inline-block;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
}
.find-users {
    display: grid;
    grid-template-columns: 300px repeat(auto-fill, 300px) 300px;
}
#find-card {
    margin: 10px;
}
.friends-section {
    display: flex;
}
    .my_friends {
        margin-left: 50px;
        width: 300px;
    }
    .user-card {
        margin-bottom: 10px;
        width: 180px;
        padding: 10px 30px;
        word-wrap: break-word;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    .user-card form {
        padding-bottom: 10px;
    }
    .profile-link {
        text-decoration:none;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
    }
    .user-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
