body {
    font-family: sans-serif;
    background-color: rgb(250, 244, 244);
}
h3 {
    text-align: center;
}
input {
    float: right;
}
input[type="submit"]:focus, input[type="submit"]:hover {
    cursor: pointer;
}
input[type="text"], input[type="email"], input[type="password"] {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    margin-bottom: 1rem;
    display: block;
    width: 200px;
    border-radius: 0.25rem;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: rgb(250, 244, 244);
}
#hello {
    font-size: 30px;
    text-align: center;
}
.errorlist {
    color:aliceblue;
    background: rgb(207, 57, 57);
    border-radius: 5px;
}
.messages {
    width: 300px;
    padding: 10px;
    border: 2px solid black;
    text-align: left;
    color:aliceblue;
    background: rgb(36, 164, 49);
}
.enter {
    position: fixed;
    left: calc(50% - 200px);
    width: 400px;
    padding: 10px;
    border: 2px solid black;
    background: rgb(235,235,235);
}
    .enter input {
        margin-top: 20px;
    }
