body {
    font-family: sans-serif;
    background-color: rgb(250, 244, 244);
}
h3 {
    text-align: center;
}
input[type="submit"] {
    all: unset;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding: 5px;
    background-color: rgb(205, 205, 205);
    color: #2c2a2a;
}
input[type="submit"]:after {
    position: relative;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="submit"]:hover {
    position: relative;
    background: rgb(158, 154, 154);
    color: #2c2a2a;
}
input[type="submit"]:active {
    position: relative;
    top: 2px;
    background: rgb(158, 154, 154);
}
input[type="text"], input[type="email"], input[type="password"] {
    all: unset;
    border: 1px solid black;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: auto;
    display: inline-block;
    letter-spacing: 1px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding: 5px;
    background-color: rgb(250, 244, 244);
    width: 250px;
    border-radius: 0.25rem;
}
#hello {
    font-size: 30px;
    text-align: center;
}
.errorlist {
    color:aliceblue;
    background: rgb(207, 57, 57);
    border-radius: 5px;
}
.messages {
    width: 300px;
    padding: 10px;
    border: 2px solid black;
    text-align: left;
    color:aliceblue;
    background: rgb(36, 164, 49);
}
.enter {
    position: fixed;
    left: calc(50% - 210px);
    width: 400px;
    padding: 10px;
    border: 2px solid black;
    background: rgb(235,235,235);
}
    .enter input {
        margin-top: 20px;
    }
