.record {
    min-width: 560px;
    max-width: 1000px;
    word-wrap: break-word;
    margin-bottom: 10px;
    margin-top: 40px;
    padding: 2px 10px 10px 10px;
    border-radius: 10px;
    background-color: #725c5c0e;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
    .record h6 {
        color: #ada7a7;
    }
    .record:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
