body {
    font-family: sans-serif;
    background-color: rgb(250, 244, 244);
}

input[type="text"], input[type="email"], input[type="password"] {
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    margin: 0; /* 2 */
    margin-bottom: 1rem;
    display: block;
    width: 200px;
    border-radius: 0.25rem;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: rgb(250, 244, 244);
}



#hello {
    font-size: 30px;
    text-align: center;
}

.main {
    display: flex;
    margin-top: 100px;
    margin-left: calc(55% - 610px);
}

.register, .enter {
    width: 500;
    padding: 10px;
    border: 2px solid black;
    background: rgb(235,235,235);
}

.register {
    margin-right: 100px;
}

h3 {
    text-align: center;
}

input {
    float: right;
}

.errorlist {
    text-align: left;
    color: red;
}
