.chat {
    max-width: 450px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
    .container_Scrollbottom {
        padding: 0 10px;
        max-height: 100%;
        overflow-y: auto;
    }
    .chat_item_container {
        display: table-cell;
    }
        .chat_item_container div {
        width: fit-content;
        max-width: 255px;
        word-wrap: break-word;
        margin-bottom: 12px;
        line-height: 24px;
        padding: 10px 20px;
        border-radius: 25px;
        }
        .chat_item_container:empty::before {
            content: 'no messages';
            display: block;
            padding: 20px;
            text-align: center;
            color: gray;
        }
        .wrapper_Scrollbottom {
            margin-top: 70px;
        }
    .input-zone {
        position: fixed;
        display: block;
        bottom: 0%;
        margin-bottom: 10px;
        padding: 5px 100px;
        border: 1px solid black;
        border-radius: 8px;
        backdrop-filter: blur(10px);
    }
