body {
    font-family: 'Calibri', sans-serif;
}
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    height: 30px;
    min-height: 30px;
    max-width: 322px;
    min-width: 322px;
    resize: none;
    background-color: rgb(250, 244, 244);
    outline: none;
	border: 1px solid #999;
    border-radius: 5px;
}
input[type="checkbox"] {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}
input[type="checkbox"]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color:#e9e9e9;
}
input[type="checkbox"]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color:#e9e9e9;
}
input[type="checkbox"]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}
input[type="text"], input[type="email"] {
    all: unset;
    border: 1px solid black;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: auto;
    display: inline-block;
    letter-spacing: 1px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding: 5px;
    background-color: rgb(234, 227, 227);;
    width: 250px;
    border-radius: 0.25rem;
}
#form {
    margin-bottom: 10px;
    width: 250px;
    background-color: rgb(250, 244, 244);
}
.userButton {
    display: flex;
}
#userButton {
    font-size: 15px;
    background-color: rgb(168, 162, 162);
    margin: 0px 10px 10px 20px;
}
#userButton:hover {
    background-color: rgb(119, 114, 114);
}
#modalButton {
    margin-top: 10px;
}
.settings-bar {
    margin-top: -190px;
}
    #backgroundColorChangeForm {
        margin-bottom: 10px;
    }
    .open_modal {
        margin-bottom: 10px;
    }
    #quitButton {
        margin-bottom: 25px;
    }
    #delete_account {
        background: #f2abab;
        color: #c00f0fe2;
    }
    #delete_account:hover {
        background: #f18282;
        color: #c00f0fe2;
    }
.user {
    min-width: 560px;
    max-width: 1000px;
    padding: 5px 10px;
    word-wrap: break-word;
    border-radius: 15px 15px 15px 0px;
    background-color: #cac3c3;
    font-size: 25px;
}
.add_record {
    display: inline-block;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    background-color: #cac3c3;
}
.record {
    min-width: 560px;
    max-width: 1000px;
    word-wrap: break-word;
    margin-bottom: 10px;
    margin-top: 40px;
    padding: 2px 10px 10px 10px;
    border-radius: 10px;
    background-color: #725c5c0e;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
    .record h6 {
        color: #ada7a7;
    }
    .record-bar {
        height: 0;
        overflow: hidden;
        transition: height ease-out 0.3s;
    }
    .active {
        height: auto;
    }
#delete_record:hover {
    background: #f18282;
    color: #c00f0fe2;
}
.three_points:hover {
    cursor: pointer;
}
#modal_1 .modal_txt {
    display: flex;
}
#modal_1 .modal_txt div {
    padding: 30px;
}
